.xxx{
	background: #080c25 !important;
}
.fondo{
	width: 100%;
	height: 100vh;
	background:url("../img/Android-Lollipop2.png");
	background-size: cover;
	background-position: center;
}

.absol{
	position: absolute;
	color: white;
	left: 40%;
	top: 30%;
	margin: 0 auto;
}
